header {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}